* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{

    display: block;
    max-width:500px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    flex-flow: column wrap;
    order: 1;
    width: 80%;
    align-content: center;
    align-items: center;
    overflow-x:hidden;
    box-sizing: border-box;
}

.logo{

    display: block;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}
.inData:hover{
    box-shadow: 0 0 2px 2px rgba(0, 245, 255, 100);

}

.body{

    background: rgb(0,20,0);
    background: linear-gradient(62deg, rgba(0,20,0,1) 0%, rgba(0,4,30,1) 44%, rgba(0,61,54,1) 100%);
    overflow-x:hidden;

}


.install-form{

    font-family: "sans-serif";
    color: white;
    display: block;
    width: 90%;

}
::placeholder{
    color: #708090;
    font-size: 12px;
    font-style: italic;
}
h1{
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 30px;
    font-family: "SansSerif";
    color: aliceblue;

}

p{

    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;

}


.inData{
    width: 100%;
    background: #09465D;
    border-radius: 4px;
    margin-left: 1px;
    margin-top: 15px;
    margin-bottom: 16px;
    border: 1px solid #1f0337;
    font-size: 18px;
    color: aliceblue;
    padding: 10px;


}

.button{

    width: 100%;
    border-radius: 8px;
    border: none;
    font-family: ui-rounded;
    font-size: 20px;
    color: white;
    background: #030D0E;
    padding: 10px;
    margin-left: 1px;
    margin-bottom: 75px;

}

.button:hover{

    box-shadow: 0 0 2px 2px rgba(0, 245, 255, 100);

}

