* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.logo{
    max-width: 100%;
    display: block;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}
.inData:hover{
    box-shadow: 0 0 2px 2px rgba(0, 245, 255, 100);
}

.body{

    background: rgb(0,20,0);
    background: linear-gradient(62deg, rgba(0,20,0,1) 0%, rgba(0,4,30,1) 44%, rgba(0,61,54,1) 100%);

}

.form{

}
label{
    font-size: 15px;
    font-family: sans-serif;
}

.install-form{
    align-content: center;
    width: 400px;
    padding: 30px;
    margin: auto;
    font-family: "sans-serif";
    color: white;

}
::placeholder{
    color: #708090;
    font-size: 12px;
    font-style: italic;
}
h1{

    font-size: 30px;
    font-family: "SansSerif";
    color: aliceblue;
    margin-bottom: 20px;
    width: 400px;
    margin-top: 50px;
}

p{

    font-weight: bold;
    margin-bottom: 30px;


}

.inData{
    background: #09465D;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f0337;
    font-size: 18px;
    color: aliceblue;

}

.button{

    width: 100%;
    border-radius: 8px;
    border: none;
    font-family: ui-rounded;
    font-size: 20px;
    color: white;
    background: #030D0E;
    margin: 16px 0;
    padding: 12px;
}

.button:hover{

    box-shadow: 0 0 2px 2px rgba(0, 245, 255, 100);

}

